.idea/
*.iml
node_modules
src/**/*.js
src/**/*.js.map
!src/lib/*.js
!src/lib/config/*.js
!src/lib/**/*.js
src/lib/numbersLab/*.js
debug/
.firebaserc
firebase.json
.firebase/
src/translations/H*.json
.cursorrules
vite-project/
src/lib/config/allowedPages.js
.env
