<div id="app" class="body-root" v-cloak="">
	<div class="body-header" >
		<div class="header-title">
			<i class="fa fa-bank" aria-hidden="true"></i> {{ $t("accountPage.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("accountPage.subtitle") }}
		</div>
	</div>
	<div class="body-content" >

		<div class="panel inline progressWrapper" v-if="isWalletProcessing" >
			<div class="progress">
				<div class="bar" :style="'width:'+((currentScanBlock+1)/blockchainHeight*100 | 0)+'%'" >{{(((currentScanBlock+1)/blockchainHeight*1000 | 0) / 10)}}%</div>
				<label class="barLabel">
					{{ $t("accountPage.synchronizingBlock.text") }} <span class="currentScanBlock" >{{currentScanBlock+1}}</span>/<span class="blockchainHeight" >{{blockchainHeight}}</span>
				</label>
			</div>
      <div class="detInfo" >{{ $t("accountPage.synchronizingBlock.lastBlock") }}: {{lastBlockLoading}} / {{ $t("accountPage.synchronizingBlock.Queue") }}: {{processingQueue}}</div>
		</div>

		<div class="panel">
			<div class="body" >
				<div class="header-title balance_title" >{{ $t("accountPage.balanceBlock.title") }}</div>
				<div class="content balance_content" >
          <div class="wallet_amount amount_total">
		  			<div class="walletAmountLabel amount_cell">{{ $t("accountPage.balanceBlock.total") }}:</div>
            <div class="walletAmount amount_cell" >{{ $n(unlockedWalletAmount / currencyDivider) }} {{ticker}}</div>
          </div>
          <div class="wallet_amount amount_pending">
            <div class="walletAmountLabel amount_cell">{{ $t("accountPage.balanceBlock.pending") }}:</div>
            <div class="walletAmount amount_cell">{{ $n((walletAmount - unlockedWalletAmount) / currencyDivider) }} {{ticker}}</div>
          </div>
          <div class="wallet_amount amount_pending">
            <div class="walletAmountLabel amount_cell">{{ $t("accountPage.balanceBlock.deposited") }}:</div>
            <div class="walletAmount amount_cell">{{ $n(depositedWalletAmount / currencyDivider) }} {{ticker}}</div>
          </div>
          <div class="wallet_amount amount_pending">
            <div class="walletAmountLabel amount_cell">{{ $t("accountPage.balanceBlock.withdrawable") }}:</div>
            <div class="walletAmount amount_cell">{{ $n(withdrawableWalletAmount / currencyDivider) }} {{ticker}}</div>
          </div>
				</div>
			</div>
		</div>
    
		<div class="panel" :hidden="!optimizeIsNeeded || isWalletProcessing">
			<div class="body">
				<div class="header-title">{{ $t("global.optimize.label") }}</div>
				<div class="subtitle">{{ $t("global.optimize.subtitle") }} ({{optimizeOutputs}})</div>
				<div class="actions tc">
					<button type="button" class="btn primary" @click="optimizeWallet()" :disabled="optimizeLoading || isWalletProcessing">
						{{ optimizeLoading ? $t('global.optimize.loadingText') : $t('global.optimize.button') }}
					</button>
				</div>
			</div>
		</div>

		<div class="panel nopadding">
			<div class="body" >
        <div class="header-wrapper">
				  <div class="header-title" >{{ $t("accountPage.historyBlock.title") }} ({{ $n(transactions.length) }} / {{ $n(allTransactionsCount) }})</div>
          <div class="header-filer-wrapper field">
            <input class="header-filer" type="text" v-model="txFilter" />
          </div>
        </div>
				<div class="content" >
          <button type="button" class="btn primary" @click="download()">
            Download
          </button>    
					<div class="transactions" id="accountTransactions">
						<table>
							<template v-for="transaction of transactions" v-if="transaction.isFullyChecked()">
								<tr class="transaction" :class="(transaction.blockHeight === 0 ? 'pending' : '')">
									<td class="direction" >
                    <i v-if="transaction.isDeposit" class="fa fa-university tx_deposit" aria-hidden="true"></i>
										<i v-else-if="transaction.ins.length == 0" class="fa fa-level-down tx_direction_in" aria-hidden="true"></i>
										<i v-else="" class="fa fa-level-up tx_direction_out" aria-hidden="true"></i>
									</td><!--LEfT-->
									<td class="timestamp" v-if="transaction.blockHeight > 0">{{$d(new Date(transaction.timestamp*1000), 'long')}}</td>
									<td class="timestamp" v-else="">{{ $t("accountPage.historyBlock.pendingTxStatus") }}...</td>
									<td :class="'amount '+(transaction.getAmount() > 0 ? 'tx_direction_in' : 'tx_direction_out')" >{{ transaction.getAmount() / currencyDivider }}</td>
									<td class="moreInfo">
										<i class="fa fa-search" aria-hidden="true" @click="moreInfoOnTx(transaction)"></i>
									</td>
								</tr>
								<tr v-if="transaction.paymentId !== ''">
									<td colspan="4" class="paymentId" >{{transaction.paymentId}}</td><!--UNDER-->
								</tr>
							</template>
							<tr v-if="transactions.length == 0">
								<td colspan="4" class="noTransactions">
									{{ $t("accountPage.historyBlock.emptyWallet") }}<br/>
									<span v-if="currentScanBlock+1 !== blockchainHeight" >
										{{ $t("accountPage.historyBlock.waitSync") }}
										<template v-if="blockchainHeight - currentScanBlock > 100000" >
											<br/>{{ $t("accountPage.historyBlock.beReallyPatient") }}
										</template>
									</span><br>
									<div class="actions tc" >
										<a href="#receive" class="btn">{{ $t("accountPage.historyBlock.getCoinAddress") }}</a>
									</div>
								</td>
							</tr>
						</table>
					</div>
          <div class="txLoadMore" v-if="allTransactionsCount > transactions.length">
            <button type="button" class="btn primary" @click="increasePageCount()" :disabled="optimizeLoading || isWalletProcessing || (transactions.length >= allTransactionsCount)">
              {{ $t("accountPage.historyBlock.loadMoreBtn") }}...
            </button>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>